.App {
  text-align: center;
}

/* header */
.header {
  background-color: #FFFFFF;
  min-height: 87px;
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.25));
}

.contact{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 14px;
  color: #219653;
  padding: 32px 35px;
}

.contact a{
  font-size: 14px;
  color: #219653;
  line-height: 19px;
  margin-left: 15px;
}

.contact img{
  Width: 31px;
  Height: 31px;
}

/* genericos */
 h2{
  font-weight: 500;
  font-size: 24px;
  line-height: 20px;
  color: #005EA4;
 }

 p{
  font-size: 16px;
  line-height: 150%;
  color: #2F3136;
 }

 h3{
  font-weight: bold;
  font-size: 14px;
  color: #FFAD01;
  margin-bottom: 40px;
 }

 button{
  background: #0067F6;
  border-radius: 4px;
  padding: 15px 30px;
  border: none;
  color: #FFFFFF;
  font-style: normal;
  font-size: 13px;
  cursor: pointer;
 }

 input, select{
  height: 51px;
  background: #FFFFFF;
  border: 1px solid #8D97A0;
  box-sizing: border-box;
  border-radius: 4px;
  color: #828282;
  font-weight: 500;
  font-size: 14px;
  padding: 10px;
 }

 select{
  color: #000000;
 }

 section{
  background: #FFFFFF;
  border-radius: 8px;
 }

/* components - banner 1 */
.content-banner1{
  display: flex;
  margin: 24px 22px;
}

.content-banner1 section{
  display: flex;
  align-items: center;
  margin: 0px 16px;
  padding: 30px;
}

.content-banner1 img{
  width: 105px;
  height: 105px;
}

.banner1-text{
  margin-top: -30px;
  text-align: left;
  padding-left: 28px ;
}

.banner1-text button{
  margin-top: 10px;
  float: right;  
  padding-left: 28px ;
  width: 265px;
}

@media (max-width: 600px)
{
  .content-banner1{
    display: flex;
    margin: 24px 22px;
    flex-direction: column;
  }

  .content-banner1 section{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px 16px;
    padding: 30px;
  }

  .banner1-text{
    margin-top: 10px;
    text-align: center;
    padding-left: 0px;
    width: 250px;
  }
  
  .banner1-text button{
    margin-top: 10px;
    float: center;  
    padding-left: 0px ;
    width: 265px;
  }
}

/* imputs */

.forms-content{
  margin: 24px 38px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 16px 15px 30px 15px;
  text-align: left;
}

.forms-content h2{
  margin-left: 15px;
}

.forms-content form{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.all-imputs{
  display: flex;
  flex-direction: column;
}

.all-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 34%;
}

.all-inputs label{
  margin-bottom: 6px;
}

.input-button{
  height: 51px;
  width: 51px;
  padding: 0px;
  margin-top: 27px;
} 

.input-button img{
  height: 17px;
  width: 17px;
  padding-top: 5px;
}

.select {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.input-button-mobile{
  display: none;
}

@media (max-width: 600px)
{
  .forms-content{
    margin: 34px 38px 60px 38px;
  
  }

  .forms-content form{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
  }

  .all-inputs {
    width: 100%;
  }

  .input-button-mobile{
    display: flex;
    margin-top: 30px;
    margin-bottom: -50px;
  }

  .input-button{
    display: none;
  }
}

/* components - banner 4 */

.banner4{
  text-align: left;
  margin: 32px 36px;
  color: #000000!important;
}

.banner4 h2{
  color: #000000!important;
}

.all-banner4{
  display: flex;
  min-height: 192px;
  justify-content: space-between;
  align-items: center;
}
.content-banner4{
  width: 292px;
  margin-bottom: 13px;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 8px 8px 0px 0px;
}

.text-banner4 {
  padding: 16px;
}

.text-banner4 button{
  background: #FFFFFF;
  font-weight: bold;
  font-size: 14px;
  color: #0062FF;
  border: 1px solid #0062FF;
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
}

@media (max-width: 600px)
{
  .all-banner4{
    flex-direction: column;
  }
}